:root {
  --primary-bg-color: #efefef;
  --secondary-bg-color: #212a2e;
  --card-bg-color: #fafafa;
  --dark-text-color: #121416d8;
  --light-text-color: #f7f8f8;
  --btn-bg-color: #543fd7;
  --input-border: #cacdd3;
  --input-focus: #7597f7;
  --red: #f44268;
  --system-ui: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: var(--primary-bg-color);
  color: var(--dark-text-color);
  font-family: var(--system-ui);
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

button:not(.close-btn) {
  background: var(--btn-bg-color);
  color: var(--light-text-color);
  padding: 8px 16px;
  font-weight: 600;
  border: 0;
  outline: 0;
  border-radius: 4px;
  line-height: 26px;
  transition: .3s;
}

button:not(.close-btn):hover {
  background: #828fff;
}

button:not(.close-btn):active {
  background: inherit;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: var(--secondary-bg-color);
  color: var(--light-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

header>h1 {
  background: url(../img/book.svg) no-repeat;
  padding: 0 50px;
  height: 2.8rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 20px;
  padding: 16px 32px;
}

.card {
  background: var(--card-bg-color);
  border-radius: 5px;
  box-shadow: -2px 4px 5px -3px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  word-wrap: break-word;
  line-height: 1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-content: space-around;
  gap: 5px;
}

.card>h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

.card>p {
  font-size: 1.2rem;
}

.btn-container{
  display: flex;
  gap: 6px;
  justify-self: end;
}

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--primary-bg-color);
  padding: 1.5rem;
  width: 350px;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  background: inherit;
  outline: 0;
  border: 0;
  border-radius: 50%;
  padding: 0.4rem 0.8rem;
  transition: .2s;
}

.close-btn:hover {
  background: var(--input-border);
  color: var(--red);
}

.input-container {
  width: 245px;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  display: block;
  font-size: 1.2rem;
  padding: 5px 8px;
  margin: 10px 0;
  width: 100%;
  outline: 0;
  border: 3px solid var(--input-border);
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 3px solid var(--input-focus);
}

.form-checkbox {
  display: grid;
  grid-template-columns: auto 1em;
  align-items: end;
  justify-items: end;
  gap: 0.5em;
  padding-bottom: 10px;
}

input[type="checkbox"] {
  appearance: none;
  background: #ffffff;
  color: var(--btn-bg-color);
  width: 1em;
  height: 1em;
  border: 0.15em solid var(--input-border);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--btn-bg-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #00000080;
  backdrop-filter: blur(3px);
}

.hidden {
  display: none;
}